testes-automatizados-eps-mds/.idea/
testes-automatizados-eps-mds/*-eps-mds-*/node_modules/
testes-automatizados-eps-mds/*-eps-mds-*/__pycache__/
testes-automatizados-eps-mds/*-eps-mds-*/.env
testes-automatizados-eps-mds/ta-eps-mds-db/data/