testes-automatizados-eps-mds/.idea/
testes-automatizados-eps-mds/ta-eps-mds-back-end/djangoApp/__pycache__/
testes-automatizados-eps-mds/ta-eps-mds-back-end/djangoProject/__pycache__/
testes-automatizados-eps-mds/ta-eps-mds-db/data/
testes-automatizados-eps-mds/ta-eps-mds-front-end/node_modules/